@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* text-decoration: none; */
  @apply m-0 border-0 p-0 outline-none cursor-default list-none box-border;
}

a,
a *,
button,
button * {
  cursor: pointer;
}

.btn-primary {
  @apply flex gap-2.5 px-22 py-6.5 bg-primary text-white items-center justify-center rounded-md shadow-[2px_8px_8px_0_#56565640] whitespace-nowrap font-medium text-lg leading-[26px];
}

.btn-secondary {
  @apply flex gap-2.5 py-[17px] px-13 text-cyber-grape items-center justify-center rounded-md border-2 border-current font-medium text-xl leading-4 whitespace-nowrap;
}

/* ================ HEADER STYLING ================= */

nav {
  @apply flex items-center self-stretch;
}

nav .nav-link {
  @apply font-medium text-lg leading-6 text-granite-gray mx-5;
}

.auth-cta {
  @apply flex items-center gap-15;
}

/* ================ FORM STYLING ================= */

.form-heading {
  @apply font-semibold text-4xl leading-[49px] text-port-gore font-recoleta-alt;
}

.form-subheading {
  @apply font-medium text-base leading-5 text-granite-gray;
}

.register-type {
  @apply relative h-[85px] flex gap-6 py-7.5 px-5.5 text-heather items-center justify-center rounded-xl border border-titan-white duration-300;
}

.register-type.active {
  @apply border-cyber-grape text-haiti;
}

.register-type.active::after {
  @apply absolute -right-[19px] -top-[19px] w-[38px] h-[38px] content-[url(./assets/icons/check-circle.svg)];
}

.register-type.active :is(path, circle) {
  @apply stroke-cyber-grape;
}

.form-field {
  @apply flex flex-col gap-2;
}

.form-field label {
  @apply font-medium text-lg leading-6 -tracking-[0.5%] text-cyber-grape;
}

.form-field :is(.input-container, .text-area-container) {
  @apply relative overflow-clip bg-alabaster border-2 border-athens-gray rounded-md h-14 duration-300 focus-within:bg-transparent;
}

.form-field :is(input, textarea) {
  @apply py-4 px-5 bg-transparent w-full duration-300;
}

/* ================ FOOTER STYLING ================= */

footer {
  @apply pt-18 pb-10 px-[8.33%] bg-primary text-white flex flex-col;
}

footer .nav-link {
  @apply font-medium text-base leading-5 text-wistful;
}

/* ================ CHECKBOX STYLING ================= */
/* Hide the default checkbox */
.checkbox-container input {
  @apply hidden;
}

.checkbox-container {
  -webkit-tap-highlight-color: transparent;
  @apply block relative cursor-pointer text-[20px] select-none;
}

/* Create a custom checkbox */
.checkmark {
  @apply relative top-0 left-0 w-[1.3em] h-[1.3em] bg-[#2196f300] rounded-[0.25em] transition-all duration-250;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  @apply bg-pastel-purple;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  @apply content-[''] absolute rotate-0 border-2 border-pastel-purple left-0 top-0 w-[1.05em] h-[1.05em] rounded-[0.25em] transition-[all_250ms,border-width_100ms];
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  @apply left-[0.45em] top-[0.25em] w-[0.25em] h-[0.5em] rounded-none rotate-45 border-t-0 border-r-[0.15em] border-b-[0.15em] border-l-0 border-t-[#fff0] border-r-white border-b-white border-l-[#fff0];
}

/* ================ LANDING PAGE STYLING ================= */

.info-container {
  @apply flex flex-col;
}

.info-container.main {
  @apply gap-4;
}

.info-container .heading {
  @apply text-port-gore font-recoleta-alt font-semibold text-4xl leading-[49px];
}

.info-container.main .heading {
  @apply text-haiti;
}

.info-container .sub-heading {
  @apply text-storm-dust font-450 text-xl leading-7;
}

.info-container.main .sub-heading {
  @apply text-tuatara;
}

/* ================ LANDING PAGE STYLING ================= */
.contact-info {
  @apply flex-1 pt-7 h-[197px] rounded-xl bg-white flex flex-col items-center gap-5 border border-titan-white;
}

.contact-info .heading {
  @apply flex items-center justify-center gap-5 text-port-gore font-medium text-2xl leading-[30px];
}

.contact-info .content {
  @apply font-450 text-lg leading-[23px] text-storm-dust text-center;
}

/* ================ PACKAGE CARDS STYLING ================= */

.package-card {
  @apply flex-1 rounded-lg bg-white pt-18 pb-8 px-5 text-black;
}

.package-type {
  @apply font-medium text-[22px] leading-8 mx-1 capitalize;
}

.package-price {
  @apply mt-5 mx-1 font-recoleta-alt font-semibold text-5xl leading-[67px];
}

.package-price sup {
  @apply text-base leading-[23px] align-super;
}

.package-price sub {
  @apply text-xl align-middle mb-2 inline-block;
}

.package-features {
  @apply mt-11 flex flex-col gap-6;
}

.package-feature {
  @apply relative font-450 text-xl text-granite-gray pl-12 before:absolute before:left-0 before:top-1/2 before:-translate-y-1/2 before:w-6 before:h-6 before:content-[url(./assets/icons/check-black.svg)];
}

/* ================ TABLE STYLING ================= */

table {
  border: none;
}

th,
td {
  @apply flex-1;
}

tr {
  @apply flex;
}

#feature-overview :is(th, td):not(:first-child) {
  @apply max-w-[214px] px-[3.47vw] box-content;
}

#feature-overview :is(th, td):nth-child(2) {
  @apply pl-0;
}

#feature-overview :is(th, td):last-child {
  @apply pr-0;
}

#feature-overview td {
  @apply flex items-center justify-center;
}

.package-heading {
  @apply flex flex-col gap-5 items-start;
}

.package-heading-text {
  @apply font-medium text-[22px] leading-8 text-black capitalize;
}

#feature-overview tr {
  @apply px-8;
}

#feature-overview .is-checked {
  @apply block w-8 h-8 bg-center bg-no-repeat bg-[url(./assets/icons/check-purple.svg)];
}

#feature-overview .is-failed {
  @apply block w-8 h-8 bg-center bg-no-repeat bg-[url(./assets/icons/x.svg)];
}

#feature-overview tbody tr {
  @apply h-[58px] font-450 text-xl text-black;
}

#feature-overview tbody tr:nth-child(odd) {
  @apply bg-white rounded-md;
}

#feature-overview tbody tr td:first-child {
  @apply text-storm-dust justify-start;
}
